.node {
  border: 1px solid rgb(221, 221, 221);
  background: ghostwhite;
  display: inline-block;
}

.flex {
  padding: 40px 0;
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 auto;
}

.open {
  background: red;
}

.connected {
  background: orange;
}

.full {
  background: yellowgreen;
}

.break {
  flex-basis: 100%;
  height: 0;
}
